:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --black: #000000;
  --gray: #9e9e9e;
  --white: #FFFFFF;

  --dark: #202020;
  --primary: #FF9800;

  --yellow: #FDD835;
}

body {
  background-color: var(--dark);
  color: var(--gray);
}