.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
  gap: 2rem;

}

.filterGenre {
  width: 100%;
  height: 2rem;
  max-width: 8rem;
  border-radius: 0.7rem;
  background-color: transparent;
  color: var(--white);
}

.filterGenre option {
  background-color: var(--dark);
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}