.card {
  width: 100%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--dark);
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
  text-align: center;
  min-height: 25rem;
  border: 1px solid var(--primary);
  justify-content: space-between;
}

.card img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.genre {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

.imdb {
  color: var(--yellow);
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.viewDetails {
  padding: 0.5rem;
  background-color: var(--white);
  border-radius: 1rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
}

.synopsis {
  font-size: 0.9rem;
  margin: 0;
  color: var(--light-gray);
}